footer {
    background: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.footer-img {
    position: relative;
    width: 150px;
    z-index: 2;
    left: -100px;
    top: 0px;
}

@media (max-width: 1121px) {
    footer {
        flex-direction: column;
    }
    .footer-img {
        left: 0;
    }
    .footer-items {
        margin-top: 20px!important;
    }
}

@media (max-width: 971px) {
    .footer-items {
        flex-direction: column;
    }
    .footer-items li {
        margin-top: 5px!important;
    }
}

.footer-items {
    position: relative;
    top: 50%;
    left: -5%;
    list-style: none;
    display: flex;
    margin: 0;
    color: white;
}

.footer-item {
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}