:root {
    --cols: 3;
}

html {
    background: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.games-list {
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(auto-fit, minmax(Max(calc(100% / var(--cols, 1)), 350px), 1fr));
}