h2 {
    margin: 0;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .modal-header {
        flex-direction: column-reverse;
    }
}

.close-icon {
    color: red;
    font-size: 2rem;
}

.close-icon:hover {
    cursor: pointer;
}

.modal-content p,
.total p {
    margin: 20px 0;
}